input[type~="checkbox"].ToggleDisplay + *, 
input[type~="radio"].ToggleDisplay + * {
	display: none;
}

input[type~="checkbox"].ToggleDisplay:checked + *,
input[type~="radio"].ToggleDisplay:checked + * {
	display: revert;
}

input[type~="radio"][name="LangSelect"][Lang="en"] ~ #git-wiki-content > *[Lang="en"],
input[type~="radio"][name="LangSelect"][Lang="it"] ~ #git-wiki-content > *[Lang="it"] {
	display: none;
}

input[type~="radio"][name="LangSelect"][Lang="en"]:checked ~ #git-wiki-content > *[Lang="en"],
input[type~="radio"][name="LangSelect"][Lang="it"]:checked ~ #git-wiki-content > *[Lang="it"] {
	display: revert;
}
