input[type~="checkbox"].ToggleDisplay + *, 
input[type~="radio"].ToggleDisplay + * {
	display: none;
}

input[type~="checkbox"].ToggleDisplay:checked + *,
input[type~="radio"].ToggleDisplay:checked + * {
	display: revert;
}

input[type~="radio"][name="LangSelect"][lang="en"] ~ #git-wiki-content > *[lang="en"],
input[type~="radio"][name="LangSelect"][lang="it"] ~ #git-wiki-content > *[lang="it"] {
	display: none;
}

input[type~="radio"][name="LangSelect"][lang="en"]:checked ~ #git-wiki-content > *[lang="en"],
input[type~="radio"][name="LangSelect"][lang="it"]:checked ~ #git-wiki-content > *[lang="it"] {
	display: revert;
}
