input[type~="checkbox"].ToggleDisplay + *, 
input[type~="radio"].ToggleDisplay + * {
	display: none;
}

input[type~="checkbox"].ToggleDisplay:checked + *,
input[type~="radio"].ToggleDisplay:checked + * {
	display: revert;
}

input[type~="radio"].LangSelect[Lang="en"] ~ *[Lang="en"],
input[type~="radio"].LangSelect[Lang="it"] ~ *[Lang="it"] {
	display: none;
}

input[type~="radio"].LangSelect[Lang="en"]:checked ~ *[Lang="en"],
input[type~="radio"].LangSelect[Lang="it"]:checked ~ *[Lang="it"] {
	display: revert;
}
