<input type="checkbox" class="ToggleDisplay" style="display: none; visibility: hidden;"/>
<p>
    Notice:
    it appears that your browser doesn't support the "CSS Checkbox Hack",
    and that its JavaScript polyfill is not working.
    The page might appear broken.
</p>

<input type="radio" name="LangSelect" lang="en" id="input-LangSelect-en" checked="checked"/>
<label for="input-LangSelect-en">🇬🇧 English</label>

<input type="radio" name="LangSelect" lang="it" id="input-LangSelect-it"/>
<label for="input-LangSelect-it">🇮🇹 Italiano</label>
